.chapterabautme {
	text-align: center;
   height: 506px;
	width: 100%;
	background: #F6F6F6;
	&__title {
		font-size: 34px;
		line-height: 42px;
		padding: 120px 0 0 0;
	}
	&__text {
		font-family: "Gilroy";
		width: 485px;
		font-size: 18px;
      line-height: 22px;
		margin: 18px auto 0 auto;
	}
}